In [1]:
import pandas as pd

In [2]:
vine_df = pd.read_csv('vine.csv')
vine_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,R3W4P9UBGNGH1U,2.0,1.0,3.0,N,Y
1,R15V54KBMTQWAY,4.0,0.0,0.0,N,N
2,RY8I449HNXSVF,5.0,0.0,0.0,N,Y
3,R18TLJYCKJFLSR,5.0,0.0,0.0,N,Y
4,R1NK26SWS53B8Q,5.0,0.0,0.0,N,Y
...,...,...,...,...,...,...
9002016,R3ZKCWKG4097P,4.0,12.0,12.0,N,N
9002017,R2D0X18EHNKEOJ,5.0,10.0,13.0,N,N
9002018,R292SJRN80H8OQ,4.0,1.0,6.0,N,N
9002019,R3HA5IXDCVJ65K,5.0,24.0,25.0,N,N
9002020,R3T0HNHSZUC0ZW,4.0,15.0,15.0,N,N

In [3]:
# filter with total_votes equal or greater than 20
gt20_df = vine_df.loc[vine_df['total_votes'] >= 20]
gt20_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
116,R2WOW0TURNXB26,3.0,54.0,59.0,N,Y
197,R13VL62Y2HBQ0B,5.0,15.0,21.0,N,Y
307,R22G55KAPZKJQV,4.0,20.0,21.0,N,Y
1012,R1610PGTJS7G3N,2.0,28.0,44.0,N,Y
2265,RLQL04BL0QXOJ,4.0,45.0,47.0,N,Y
...,...,...,...,...,...,...
9002011,RT1VF6PGA6Q13,5.0,30.0,32.0,N,N
9002012,R3IP9GXD7NYPYR,5.0,22.0,22.0,N,N
9002013,R344669W03QZ47,4.0,35.0,37.0,N,N
9002015,R395SO3AVL1RRC,5.0,72.0,74.0,N,N
9002019,R3HA5IXDCVJ65K,5.0,24.0,25.0,N,N

In [4]:
helpful_df = gt20_df.loc[(vine_df['helpful_votes'] / vine_df['total_votes']) >= 0.5]
helpful_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
116,R2WOW0TURNXB26,3.0,54.0,59.0,N,Y
197,R13VL62Y2HBQ0B,5.0,15.0,21.0,N,Y
307,R22G55KAPZKJQV,4.0,20.0,21.0,N,Y
1012,R1610PGTJS7G3N,2.0,28.0,44.0,N,Y
2265,RLQL04BL0QXOJ,4.0,45.0,47.0,N,Y
...,...,...,...,...,...,...
9002011,RT1VF6PGA6Q13,5.0,30.0,32.0,N,N
9002012,R3IP9GXD7NYPYR,5.0,22.0,22.0,N,N
9002013,R344669W03QZ47,4.0,35.0,37.0,N,N
9002015,R395SO3AVL1RRC,5.0,72.0,74.0,N,N
9002019,R3HA5IXDCVJ65K,5.0,24.0,25.0,N,N

In [5]:
helpful_y_df = helpful_df.loc[helpful_df['vine'] == 'Y']
helpful_y_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
7585,R1MAOLI5FJHAFM,4.0,249.0,261.0,Y,N
13291,R9PYAUDIBJVEC,4.0,12.0,22.0,Y,N
23444,R6V9SHMMG5M8F,5.0,101.0,110.0,Y,N
38024,R37PVLT6ELL5J4,4.0,181.0,209.0,Y,N
88492,R2FSFGWZF24V9,4.0,50.0,51.0,Y,N
...,...,...,...,...,...,...
8887352,R1S2HIHNB0FJC0,2.0,180.0,196.0,Y,N
8887434,R3ADVLGTBP0TNX,4.0,36.0,43.0,Y,N
8910450,R9OB51UW8R4EW,3.0,13.0,23.0,Y,N
8912079,R3OT72XT5WKCYN,5.0,27.0,40.0,Y,N
8912399,R2Y9JUXDM65FZW,2.0,17.0,30.0,Y,N

In [6]:
helpful_n_df = helpful_df.loc[helpful_df['vine'] == 'N']
helpful_n_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
116,R2WOW0TURNXB26,3.0,54.0,59.0,N,Y
197,R13VL62Y2HBQ0B,5.0,15.0,21.0,N,Y
307,R22G55KAPZKJQV,4.0,20.0,21.0,N,Y
1012,R1610PGTJS7G3N,2.0,28.0,44.0,N,Y
2265,RLQL04BL0QXOJ,4.0,45.0,47.0,N,Y
...,...,...,...,...,...,...
9002011,RT1VF6PGA6Q13,5.0,30.0,32.0,N,N
9002012,R3IP9GXD7NYPYR,5.0,22.0,22.0,N,N
9002013,R344669W03QZ47,4.0,35.0,37.0,N,N
9002015,R395SO3AVL1RRC,5.0,72.0,74.0,N,N
9002019,R3HA5IXDCVJ65K,5.0,24.0,25.0,N,N

In [7]:
paid_total_five_star_review = helpful_y_df.loc[helpful_y_df['star_rating'] == 5.0].shape[0]
paid_total_review = helpful_y_df.shape[0]
paid_percent = paid_total_five_star_review / paid_total_review

unpaid_total_five_star_review = helpful_n_df.loc[helpful_n_df['star_rating'] == 5.0].shape[0]
unpaid_total_review = helpful_n_df.shape[0]
unpaid_percent = unpaid_total_five_star_review / unpaid_total_review

print("Paid: Five-star: " + str(paid_total_five_star_review) + "; Total: " + str(paid_total_review) + "; Percentage: " + str(paid_percent) + "%")
print("Unpaid: Five-star: " + str(unpaid_total_five_star_review) + "; Total: " + str(unpaid_total_review) + "; Percentage: " + str(unpaid_percent) + "%")

Paid: Five-star: 222; Total: 613; Percentage: 0.3621533442088091%
Unpaid: Five-star: 30543; Total: 64968; Percentage: 0.47012375323236055%